{
  "ttl": "4680h",
  "max_ttl": "4680h",
  "allowed_domains": ["{{dnsDomain}}"],
  "allow_localhost": true,
  "allow_any_name": true,
  "allow_glob_domains": true,
  "key_usage": [],
  "ext_key_usage": ["ServerAuth", "ClientAuth", "OCSPSigning"],
  "key_type": "rsa",
  "key_bits": "4096",
  "ou": "IDIC",
  "country": "US"
}