{
  "common_name": "IDIC_{{ cluster_name }}_CA",
  "format": "pem_bundle",
  "private_key_format": "der",
  "key_type": "rsa",
  "key_bits": "4096",
  "organization": "IDIC",
  "country": "US",
  "ou": "IDIC"
}